{
	servers {
		metrics
	}
}

api.battlecluster.com {
	handle /api/* {
		reverse_proxy api_1:8000 api_2:8000 api_3:8000 api_4:8000 api_5:8000 {
			lb_policy least_conn
			lb_try_duration 3s
			health_uri /health
		}
	}

	handle /dashboard/* {
		reverse_proxy grafana:3000
	}
	
	handle_path /prometheus/* {
		reverse_proxy prometheus:9090
	}
}


:2019/metrics {
	metrics /metrics
}
